* {
    box-sizing: border-box;
}

body {
    background-color: black;
    text-align: center;
    margin: 0;
}

.footer {
    color: white;
}

.wrapper {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.tabcontent {
    animation: fadeEffect 2s; /* Fading effect takes 2 seconds */
  }
  
  /* Go from zero to full opacity */
  @keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
  }

.tab {
    padding: 2px;
    padding-top: 16px;
    border-bottom: 1px solid white;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
}

.tab-button {
    background-color: black;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 13px 15px;
    font-size: 20px;
    text-align: center;
    transition: 0.4s;
}

.tab-button:hover {
    background-color: #D1D1D1;
    color: black
}

.tab-group {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

@media screen and (max-width: 470px) {
    .tab-group {
        width: 300px;
    }
}

#main-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 32px;
    width: 350px;
}

@media screen and (max-width: 600px) {
    #main-logo {
        max-width: 90%;
    }
}

#weekly-breakdown,
#read-articles,
#instagram-embed {
    padding: 64px 16px;
    text-align: center;
}

#weekly-breakdown {
    background-color: white;
    color: black;
}

#read-articles {
    background-color: black;
    color: white;
}

#instagram-embed {
    background-color: white;
    color: black;
}

.instagram-media {
    text-align: center;
}

.homepage-title-black {
    color: black;
    font-size: 32px;
    margin: 0;
}

.homepage-subtitle-black {
    padding-top: 2px;
    color: black;
    font-size: 64px;
    line-height: 1.2;
}

.homepage-title-white {
    padding-top: 32px;
    color: white;
    font-size: 32px;
    margin: 0;
}

.homepage-subtitle-white {
    padding-top: 2px;
    color: white;
    font-size: 64px;
    line-height: 1.2;
}

@media screen and (max-width: 600px) {
    .homepage-subtitle-black,
    .homepage-subtitle-white {
        font-size: 48px;
    }
}

.black-button {
    color: white;
    background-color: black;
    height: 80px;
    width: 300px;
    cursor: pointer;
}
.black-button:hover {
    color: black;
    background-color: white;
}

.white-button {
    color: black;
    background-color: white;
    height: 80px;
    width: 300px;
    cursor: pointer;
}
.white-button:hover {
    color: white;
    background-color: black;
    border: 2px solid;
    border-color: white;
}

#about-section {
    padding: 16px;
    display: grid;
    justify-content: center;
}

#about-title {
    color: white;
    font-size: 96px;
    margin: 0;
}

#about-description {
    color: white;
    font-size: 24px;
    line-height: 1.5;
    max-width: 600px;
}

#blog-header {
    height: auto;
}

#articles-section {
    height: 300px;
    background-color: white;
}

.blog-title-white {
    padding-top: 32px;
    color: white;
    font-size: 32px;
    margin: 0;
    padding-bottom: 32px;
}

#watch-header {
    height: auto;
}

#watch-grid {
    height: auto;
    background-color: white;
    display: flex;
    justify-content: center;
}

.watch-title-white {
    padding: 8px;
    padding-top: 12px;
    color: white;
    font-size: 72px;
    margin: 0;
    padding-bottom: 32px;
}

.tiktok-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px;
    width: 100%;
    max-width: 1400px;
    padding: 32px;
    text-align: center;
}

.tiktok-embed {
    width: auto !important;
    margin: 0 !important;
}

@media screen and (max-width: 680px) {
    .tiktok-container {
        padding: 16px 0;
    }
}

.inner {
    display: inline-block;
}

.slider-container {
    display: flex;
    justify-content: center;
    padding: 32px 16px;
}

.mobile-view {
    display: none;
}

.mobile-view img {
    width: 100%;
}

.slider {
    width: 800px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
}

@media screen and (max-width: 850px) {
    .mobile-view {
        display: block;
    }
    .slider {
        display: none;
    }
}

.slides {
    width: 500%;
    height: 500px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 20%;
    transition: 2s;
}

.slide img {
    width: 800px;
    height: 500px;
}


/*css for manual slide navigation*/

.navigation-manual {
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid #d3dbdc;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background: #444646;
}

#radio1:checked~.first {
    margin-left: 0;
}

#radio2:checked~.first {
    margin-left: -20%;
}

#radio3:checked~.first {
    margin-left: -40%;
}

#radio4:checked~.first {
    margin-left: -60%;
}

#radio5:checked~.first {
    margin-left: -80%;
}


/*css for automatic navigation*/

.navigation-auto {
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 460px;
}

.navigation-auto div {
    border: 2px solid #8c9090;
    padding: 5px;
    border-radius: 10px;
    transition: 0.5s;
}

.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked~.navigation-auto .auto-btn1 {
    background: #FFFFFF;
}

#radio2:checked~.navigation-auto .auto-btn2 {
    background: #FFFFFF;
}

#radio3:checked~.navigation-auto .auto-btn3 {
    background: #FFFFFF;
}

#radio4:checked~.navigation-auto .auto-btn4 {
    background: #FFFFFF;
}

#radio5:checked~.navigation-auto .auto-btn5 {
    background: #FFFFFF;
}