body {
    background-color: black;
}

.tab {
    height: 50px;
    top: 0px;
    margin: 0px;
    padding: 2% 2px 2px 3px;
    border-width: 1px;
    border-bottom-width: 1px;
    border-bottom-color: White;
    border-bottom-style: solid;
    width: 100%;
}

.tab-button {
    background-color: black;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 13px 15px;
    font-size: 20px;
    width: 5%;
    text-align: center;
    transition: 0.4s;
}

.tab-button:hover {
    background-color: #D1D1D1;
    color: black
}

.tab-group {
    text-align: center;
}

#main-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    width: 15%;
}

#weekly-breakdown {
    margin-top: 25px;
    height: 450px;
    background-color: white;
    color: black;
    text-align: center;
}

#read-articles {
    margin-top: 25px;
    height: 450px;
    background-color: black;
    color: white;
    text-align: center;
}

#instagram-embed {
    margin-top: 25px;
    height: auto + 20px;
    background-color: white;
    color: black;
    text-align: center;
    align-items: center;
}



.homepage-title-black {
    padding-top: 32px;
    color:black;
    font-size: 32px;
    line-height: 0;
}

.homepage-subtitle-black {
    padding-top:2px;
    color:black;
    font-size: 64px;
    line-height: 1.2;
}

.homepage-title-white {
    padding-top: 32px;
    color:white;
    font-size: 32px;
    line-height: 0;
}

.homepage-subtitle-white {
    padding-top:2px;
    color:white;
    font-size: 64px;
    line-height: 1.2;
}

.black-button {
    color:white;
    background-color: black;
    height:80px;
    width:300px;
    cursor:pointer;
}

.white-button {
    color:black;
    background-color: white;
    height:80px;
    width:300px;
    cursor:pointer;
}

.slider {
    width: 800px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
    margin-left: 33%;
    margin-top: 1%;
}

.slides {
    width: 500%;
    height: 500px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 20%;
    transition: 2s;
}

.slide img {
    width: 800px;
    height: 500px;
}

/*css for manual slide navigation*/

.navigation-manual {
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid #d3dbdc;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background: #444646;
}

#radio1:checked~.first {
    margin-left: 0;
}

#radio2:checked~.first {
    margin-left: -20%;
}

#radio3:checked~.first {
    margin-left: -40%;
}

#radio4:checked~.first {
    margin-left: -60%;
}

/*css for automatic navigation*/

.navigation-auto {
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 460px;
}

.navigation-auto div {
    border: 2px solid #8c9090;
    padding: 5px;
    border-radius: 10px;
    transition: 0.5s;
}

.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked~.navigation-auto .auto-btn1 {
    background: #3f4242;
}

#radio2:checked~.navigation-auto .auto-btn2 {
    background: #3f4242;
}

#radio3:checked~.navigation-auto .auto-btn3 {
    background: #3f4242;
}

#radio4:checked~.navigation-auto .auto-btn4 {
    background: #3f4242;
}